#about.about
  .container
    %h3.title About Me
    .col-md-8.about-left
      %p
        Passionate and energetic web developer with around 3.5 years of experience in web application development and management. Worked on various types of applications and its needs, from small scale to large scale. Currently, I'm working for a project that web-based delivery management solution that helps with routing, tracking, and workflow management and delivers real-time updates on any driver’s location
      %p
        %b Career Highlights
      %ul
        %li
          %span.glyphicon.glyphicon-menu-right
          Design, develop and implement web applications that support day-to-day operations
        %li
          %span.glyphicon.glyphicon-menu-right
          Develop technical solutions that definitively improve scalability, performance and profits
        %li
          %span.glyphicon.glyphicon-menu-right
          Expert in Ruby on Rails development and object-oriented analysis
        %li
          %span.glyphicon.glyphicon-menu-right
          Highly motivated, self confident and hardworking
        %li
          %span.glyphicon.glyphicon-menu-right
          Good team player with excellent interpersonal skills
        %li
          %span.glyphicon.glyphicon-menu-right
          Willingness to work in any environment,  Team spirit & always willing to learn
    .col-md-4.about-right
      %ul
        %h5 Download CV
        %li.text-center.download-cv
          = link_to '../assets/Narendra_Resume.pdf', target: "_blank" do
            %span.glyphicon.glyphicon-download
      .clearfix
    .clearfix
