#contact.welcome.contact
  .container
    %h3.title Contact Me
    .contact-row
      .contact_grids
        %form{:action => "#", :method => "post"}
          .col-md-6.contact_grid
            %span.input.input--ichiro
              %input#input-25.input__field.input__field--ichiro{:placeholder => " ", :required => "", :type => "text"}/
              %label.input__label.input__label--ichiro{:for => "input-25"}
                %span.input__label-content.input__label-content--ichiro Your Name
            %span.input.input--ichiro
              %input#input-26.input__field.input__field--ichiro{:placeholder => " ", :required => "", :type => "email"}/
              %label.input__label.input__label--ichiro{:for => "input-26"}
                %span.input__label-content.input__label-content--ichiro Your Email
            %span.input.input--ichiro
              %input#input-27.input__field.input__field--ichiro{:placeholder => " ", :required => "", :type => "text"}/
              %label.input__label.input__label--ichiro{:for => "input-27"}
                %span.input__label-content.input__label-content--ichiro Your Phone Number
          .col-md-6.contact_grid
            %textarea{:name => "Message", :placeholder => "Your Message", :required => ""}
            %input{:type => "submit", :value => "Submit"}/
          .clearfix
