#education.education
  .container
    %h3.title Education
    .work-info
      .col-md-6.work-left
        %h4 Bachelor of Technology - 2012
      .col-md-6.work-right
        %h5
          %span.glyphicon.glyphicon-education
          TRR Engineering College
        %p Bachelor of Technology (Electronics & Communication Engineering) from TRR Engineering College affiliated to Jawaharlal Nehru Technological University, Hyderabad during 2008-2012 with 67.1%
      .clearfix
    .work-info
      .col-md-6.work-right.work-right2
        %h4 Intermediate - 2008
      .col-md-6.work-left.work-left2
        %h5
          Krishnaveni Junior College
          %span.glyphicon.glyphicon-education
        %p Intermediate in M.P.C. from State Board of Intermediate Education A.P, from Krishnaveni Junior College during 2006-2008 with 77.8%
      .clearfix
    .work-info
      .col-md-6.work-left
        %h4 S.S.C - 2006
      .col-md-6.work-right
        %h5
          %span.glyphicon.glyphicon-education
          Z P High School
        %p S.S.C. from the Board of Secondary School Education from ZP High School, Narnepadu during 2005 - 2006 with 64.2%
      .clearfix
