#projects.portfolio
  .container
    %h3.title My Projects
    .portfolio_grids
      .col-md-4.portfolio_grid
        .info_portfolio_grid.hovereffect
          %a.cm-overlay{"data-toggle" => "modal", :href => "#portfolioModal1"}
            %img.img-responsive{:alt => " ", :src => "assets/dt.png"}/
            .overlay
              %h4 DispatchTrack Delivery
      .col-md-4.portfolio_grid
        .info_portfolio_grid.hovereffect
          %a.cm-overlay{"data-toggle" => "modal", :href => "#portfolioModal2"}
            %img.img-responsive{:alt => " ", :src => "assets/dtv.png"}/
            .overlay
              %h4 DispatchTrack InterModal
      .col-md-4.portfolio_grid
        .info_portfolio_grid.hovereffect
          %a.cm-overlay{"data-toggle" => "modal", :href => "#portfolioModal3"}
            %img.img-responsive{:alt => " ", :src => "assets/myproperty.png"}/
            .overlay
              %h4 MyProperty
      .col-md-4.portfolio_grid
        .info_portfolio_grid.hovereffect
          %a.cm-overlay{"data-toggle" => "modal", :href => "#portfolioModal4"}
            %img.img-responsive{:alt => " ", :src => "assets/prmote.png"}/
            .overlay
              %h4 PRmote
      .col-md-4.portfolio_grid
        .info_portfolio_grid.hovereffect
          %a.cm-overlay{"data-toggle" => "modal", :href => "#portfolioModal5"}
            %img.img-responsive{:alt => " ", :src => "assets/p1.jpg"}/
            .overlay
              %h4 Qzick
      .col-md-4.portfolio_grid
        .info_portfolio_grid.hovereffect
          %a.cm-overlay{"data-toggle" => "modal", :href => "#portfolioModal6"}
            %img.img-responsive{:alt => " ", :src => "assets/dtd.png"}/
            .overlay
              %h4 BookBusNow
      .clearfix

/ Portfolio Modals
#portfolioModal1.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h3.title DispatchTrack Delivery
            %p
              DispatchTrack Delivery Logistics Manager is a powerful, web-based delivery management solution that helps with routing, tracking, and workflow management. It provides a central point of communication between drivers in the field and office staff, so everyone is always on the same page. The advanced routing module allows companies to focus on saving time and resources by planning the best possible route for drivers. The GPS Tracking & Dashboard delivers real-time updates on any driver’s location and the status of the job they’re working on. That way, management is always in loop on what may be happening the field. DTI has a mobile app that was designed specifically for drivers.
            %ul.list-inline.item-details
              %li
                Client:
                %strong
                  %a{:href => "http://dispatchtrack.com"} DispatchTrack
              %li
                URL:
                %strong
                  %a{:href => "https://dtdev.dispatchtrack.com"} https://dtdev.dispatchtrack.com
              %li
                Duration:
                %strong
                  2 Months
              %li
                Team Size:
                %strong
                  5 Members
              %li
                Technology:
                %strong
                  Ruby on Rails, Html, Css, Javascript, Jquery
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              %span.glyphicon.glyphicon-remove
              Close

#portfolioModal2.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h3.title DispatchTrack InterModal
            %p
              DispatchTrack InterModal Logistics Manager is a powerful, web-based delivery management solution that helps with routing, tracking, and workflow management. It provides a central point of communication between drivers in the field and office staff, so everyone is always on the same page. The advanced routing module allows companies to focus on saving time and resources by planning the best possible route for drivers. The GPS Tracking & Dashboard delivers real-time updates on any driver’s location and the status of the job they’re working on. That way, management is always in loop on what may be happening the field. DTI has a mobile app that was designed specifically for drivers.
            %ul.list-inline.item-details
              %li
                Client:
                %strong
                  %a{:href => "http://dispatchtrack.com"} DispatchTrack
              %li
                URL:
                %strong
                  %a{:href => "https://dtv.dispatchtrack.com"} https://dti.dispatchtrack.com
              %li
                Duration:
                %strong
                  6 Months
              %li
                Team Size:
                %strong
                  3 Members
              %li
                Technology:
                %strong
                  AngularJs 2, Ruby on Rails, Html, CSS
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              %span.glyphicon.glyphicon-remove
              Close

#portfolioModal3.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h3.title MyProperty
            %p
              MyProperty helps self-managing landlords find better tenants, collect rent and handle maintenance faster, by advertising their rental properties across the same websites real estate professionals use, including realestate.com.au and Domain.
            %ul.list-inline.item-details
              %li
                Client:
                %strong
                  %a{:href => "https://www.linkedin.com/in/ashok-navein-4b214221/"} Ashok Navein
              %li
                URL:
                %strong
                  %a{:href => "https://myproperty.com.au/"} https://myproperty.com.au/
              %li
                Duration:
                %strong
                  12 Months
              %li
                Team Size:
                %strong
                  2 Members
              %li
                Technology:
                %strong
                  Ruby on Rails, Html, Css, Javascript, Jquery, Strip Payment Gateway, Haml
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              %span.glyphicon.glyphicon-remove
              Close

#portfolioModal4.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h3.title PRmote
            %p
              PRmote helps candidate to create their resume and details online and also provides a website with their details and they can choose the required template and layout for their site.
            %ul.list-inline.item-details
              %li
                Client:
                %strong
                  %a{:href => "https://www.linkedin.com/in/ashok-navein-4b214221/"} Mike
              %li
                URL:
                %strong
                  %a{:href => "http://prmote.com/"} http://prmote.com
              %li
                Duration:
                %strong
                  5 Months
              %li
                Team Size:
                %strong
                  4 Members
              %li
                Technology:
                %strong
                  Ruby on Rails, Html, Css, Javascript, Jquery, Haml
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              %span.glyphicon.glyphicon-remove
              Close

#portfolioModal5.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h3.title Qzick
            %p
              Qzick is a simple online quiz tool that allows educators to quickly create tests for their students. The powerful reports show exactly which students are struggling, and which are excelling.
            %ul.list-inline.item-details
              %li
                Client:
                %strong
                  %a{:href => "https://www.linkedin.com/in/ashok-navein-4b214221/"} RubyEffect
              %li
                URL:
                %strong
                  %a{:href => "http://qzick.com/"} http://qzick.com
              %li
                Duration:
                %strong
                  5 Months
              %li
                Team Size:
                %strong
                  4 Members
              %li
                Technology:
                %strong
                  Ruby on Rails, Html, Css, Javascript, Jquery, Haml
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              %span.glyphicon.glyphicon-remove
              Close

#portfolioModal6.portfolio-modal.modal.fade{"aria-hidden" => "true", :role => "dialog", :tabindex => "-1"}
  .modal-content
    .close-modal{"data-dismiss" => "modal"}
      .lr
        .rl
    .container
      .row
        .col-lg-8.col-lg-offset-2
          .modal-body
            %h3.title BookBusNow
            %p
              This project consists of a web portal where any visitor can search & book Bus ticket in real time, & the Bus owner have their own admin panel to add edit or delete bus services inventory able to block & unblock seats on the charts as their need also can view their bookings & reports and there should be a super admin backend to manage all the above facilities. Booking, Cancellation. in real time, manage users(customers), Bus services providers, Bus inventories. Discount coupons & tracking the all the reports for booking by users, by services providers , by routes and so on, payment reports by individual bus services provider, by user.
            %ul.list-inline.item-details
              %li
                Client:
                %strong
                  %a{:href => "#"} BookBusNow, Hyderabad
              %li
                Duration:
                %strong
                  12 Months
              %li
                Team Size:
                %strong
                  3 Members
              %li
                Technology:
                %strong
                  C#, ASP.Net, Javascript, Jquery, CSS, Html, Bootstrap
            %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"}
              %span.glyphicon.glyphicon-remove
              Close
