#skills.skills
  .container
    %h3.title Skills
    .skills-info
      .col-md-6.bar-grids
        %h6
          Ruby and Ruby on Rails
          /%span 80%
        .progress
          .progress-bar.progress-bar-striped.active{:style => "width: 100%"}
        %h6
          HTML, CSS, HAML, ERB and Bootstrap
          /%span 95%
        .progress
          .progress-bar.progress-bar-striped.active{:style => "width: 100%"}
        %h6
          JavaScript, jQuery and Ajax
          /%span 75%
        .progress
          .progress-bar.progress-bar-striped.active{:style => "width: 100%"}
      .col-md-6.bar-grids
        %h6
          AngularJS 2 and React Js
          /%span 85%
        .progress
          .progress-bar.progress-bar-striped.active{:style => "width: 100%"}
      .col-md-6.bar-grids
        %h6
          GitHub, Gitlab 
          /%span 95%
        .progress
          .progress-bar.progress-bar-striped.active{:style => "width: 100%"}
      .col-md-6.bar-grids
        %h6
          Database: MySQL, PostgreSQL and Sqlite
          /%span 80%
        .progress
          .progress-bar.progress-bar-striped.active{:style => "width: 100%"}
      .col-md-6.bar-grids
        %h6
          Editors: Gedit, Sublime, Textmate and Vscode
          /%span 60%
        .progress
          .progress-bar.progress-bar-striped.active{:style => "width: 100%"}
      .col-md-6.bar-grids
        %h6
          Work Managing Tools: Unfuddle, Jira
          /%span 60%
        .progress
          .progress-bar.progress-bar-striped.active{:style => "width: 100%"}
      .col-md-6.bar-grids
        %h6
          Operating Systems: Mac, UNIX (Linux, Ubuntu) and Windows
          /%span 60%
        .progress
          .progress-bar.progress-bar-striped.active{:style => "width: 100%"}
      .clearfix
