#work.work
  .container
    %h3.title Work Experience
    .work-info
      .col-md-6.work-right.work-right2
        %h4 2016 - Current
      .col-md-6.work-left.work-left2
        %h5
          DispatchTrack Software Solutions Pvt. Ltd
          %span.glyphicon.glyphicon-briefcase
        %p Working as a Software Developer in DispatchTrack Software Solutions Pvt. Ltd, Hyderabad, from June, 2016 to till date
      .clearfix
    .work-info
      .col-md-6.work-left
        %h4 2014 - 2016
      .col-md-6.work-right
        %h5
          %span.glyphicon.glyphicon-briefcase
          RubyEffect Software Solutions Pvt. Ltd
        %p Worked with RubyEffect Software Solutions Pvt. Ltd, Hyderabad, as a Software Developer from June, 2014 to June, 2016
      .clearfix
    .work-info
      .col-md-6.work-right.work-right2
        %h4 2013 - 2014
      .col-md-6.work-left.work-left2
        %h5
          Capital soft labs(BookBusNow)
          %span.glyphicon.glyphicon-briefcase
        %p  Worked with Capital soft labs (bookbusnow) as Software Engineer, from March, 2013 to February, 2014
      .clearfix
