body{
	margin:0;
	font-family: 'Roboto Condensed', sans-serif;
	background: #fff;
}
body a{
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
	font-family: 'Overlock', cursive;
}
p{
	margin:0;
}
ul,label{
	margin:0;
	padding:0;
}
body a:hover{
	text-decoration:none;
}
/*--baner--*/
.banner {
	background:url(banner-bg.jpg)no-repeat center top;
	-webkit-background-size: cover;
	background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -ms-background-size: cover;
	position: relative;
}
.banner-info{
	background: url(dott.png)repeat 0px 0px;
	padding: 4em 0;
}
.header-left img {
  width: 100%;
  border: 5px solid rgba(255, 255, 255, 0.68);
}
.header-right {
    padding-left: 3em;
}
.header-right h1 {
    font-size: 2.5em;
    color: #fff;
    margin: 0.5em 0 0;
}
.header-right h2 {
    font-size: 1.2em;
    color: #000;
    background: #F3E000;
    display: inline-block;
    padding: .5em 1.5em;
    position: relative;
}
.header-right h2:before {
    width: 0;
    height: 0;
    position: absolute;
    content: '';
    bottom: -9px;
    left: 12px;
    border-style: solid;
    border-width: 10px 10px 0 10px;
    border-color: #F3E000 transparent transparent transparent;
}
.header-right h6 {
    font-size: 1em;
    color: #C7C7C7;
    margin-top: 0.8em;
    letter-spacing: 6px;
}
ul.address {
    margin-top: 2em;
    border-top: 1px solid #AFAFAF;
    padding-top: 0.5em;
}
ul.address li {
    display: block;
}
ul.address li ul.address-text li {
    display: inline-block;
    font-size: 1.2em;
    color: #fff;
    margin-top: 1em;
	font-weight: 100;
}
ul.address li ul.address-text li:nth-child(1){
	width: 20%;
}
ul.address li ul.address-text li a {
    color: #fff;
	text-decoration:none;
}
ul.address li ul.address-text li a:hover{
    color: #0FF;
}
/*--//banner-top--*/
/*--top-nav--*/
.top-nav {
    background: #008B8B;
}
.nav > li {
    display: inline-block;
}
ul.nav.navbar {
    margin: 0;
    text-align: center;
}
ul.nav.navbar li a {
    color: #fff;
    padding: 1em 2em;
    font-size: 1.2em;
    font-family: 'Overlock', cursive;
}
ul.nav.navbar li a:hover,ul.nav.navbar li a.active,ul.nav.navbar li a:focus{
    color: #008B8B;
    background: #fff;
	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
    transform: scale(0.8);
	-o-transform: scale(0.8);
	-ms-transform: scale(0.8);
}
/*--//top-nav--*/
/*--about--*/
.about,.work,.education,.skills,.portfolio,.contact{
	padding:6em 0;
}
h3.title {
  font-size: 4em;
  text-align: center;
  color: #008B8B;
  border-bottom: 4px double rgba(247, 197, 106, 0.35);
  padding-bottom: 0.2em;
	margin-bottom: 1em;
}
p {
  font-size: 1em;
  color: #999;
  line-height: 1.8em;
}
.about-right {
  padding-left: 5em;
}
.about-right ul {
  border: 3px double #008B8B;
  padding: 1em 2em;
}
.about-right h5 {
  font-size: 2em;
  text-align: center;
  color: #008B8B;
}
.about-right ul li {
  display: block;
  color: #999;
  margin: 1em 0;
	font-size:4.5em;
}
.about-left ul li {
  display: block;
  color: #999;
  margin: 1em 0;
  font-size:1em;
}
.about-left ul li span.glyphicon {
  font-size: 0.8em;
	margin-right: 6px;
}
.download-cv a{
  line-height: 1em;
  color: #008B8B;
}
/*--//about--*/

/*--work--*/
.work {
    background: #000;
}
.work-left {
    text-align: right;
    padding: 3em 5em 0 0;
}
.work-right {
    border-left: 1px solid #999;
    padding: 2.5em 0 2em 6em;
}
.work-info h4 {
    font-size: 1.2em;
    background: darkcyan;
    display: inline-block;
    padding: .6em 1.2em;
    color: #fff;
	position:relative;
}
.work-info h4:before {
    width: 0;
    height: 0;
    position: absolute;
	/*-- w3layouts --*/
    content: '';
    top: 9px;
    right: -14px;
    border-style: solid;
    border-width: 10px 0 10px 16px;
    border-color: transparent transparent transparent rgb(0, 139, 139);
}
.work-info h5 {
    font-size: 1.3em;
    color: #F7E612;
    margin-bottom: .5em;
    border: 1px solid #F7E612;
    display: inline-block;
    padding: 0 1.2em;
}
.work-info h5 span.glyphicon {
    font-size: 0.9em;
    color: #fff;
    background: #008B8B;
    padding: 1em;
    -webkit-border-radius: 70%;
    -moz-border-radius: 70%;
    border-radius: 70%;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    transition: .5s all;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
}
.work-right h5 span.glyphicon {
    margin-right: 5em;
    margin-left: -8em;
}
.work-left2 h5 span.glyphicon {
    margin-left: 4em;
    margin-right: -7.3em;
    z-index: 9;
}
.work-right.work-right2 {
    min-height: 210px;
    float: right;
}
.work-right.work-right2 h4:before {
    left: -14px;
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	/*-- agileits --*/
    transform: rotate(180deg);
	-o-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
}
.work-right.work-right2 h4 {
    margin-top: 0.8em;
}
.work-info:hover h5 span.glyphicon {
    color: #F7E612;
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
    transform: scale(1.2);
	-o-transform: scale(1.2);
	-ms-transform: scale(1.2);
}
/*--//work--*/
/*--education--*/
.education .work-info h5 {
    color: #000;
}
/*--//education--*/
/*--skills--*/
.skills{
	background:#000;
}
.bar-grids {
    padding: 0 4em;
}
.progress {
    height: 10px;
    margin-bottom: 2.2em;
    background-color: #2F2C06;
}
.progress-bar { 
    background-color: #766E04;
}
.bar-grids h6 {
    font-size: 1.1em;
    color: #fff;
    margin-bottom: 0.6em;
}
.bar-grids h6 span {
    float: right;
    font-size: 0.9em;
}
/*-- End skills --*/

/*-- portfolio --*/
.portfolio_grids {
  margin: 2em 0 0 0;
}
.hovereffect {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.hovereffect .overlay {
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #FFF;
  border-top: 1px solid #FFF;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  margin-bottom: 7px;
}

.hovereffect:hover img {
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
  -moz-filter: brightness(0.6);
  -o-filter: brightness(0.6);
  -ms-filter: brightness(0.6);
}

.hovereffect h4 {
    text-transform: uppercase;
    text-align: center;
    position: relative;
    font-size: 2.2em;
    background-color: transparent;
    color: #44c7f4;
    padding: 2em 0 0.5em;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    transition: opacity 0.35s, transform 0.35s;
    -webkit-transform: translate3d(0,-100%,0);
    transform: translate3d(0,-100%,0);
    letter-spacing: 2px;
}

.hovereffect p{
  color: #FFF;
    line-height: 1.8em;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.hovereffect:hover p, .hovereffect:hover h4 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.portfolio_grid {
  padding: 0 4px;
}

.portfolio-modal .modal-content {
  border-radius: 0;
  background-clip: border-box;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  min-height: 100%;
  padding: 100px 0;
  text-align: center;
}
.portfolio-modal .modal-content h2 {
  margin: 0;
  font-size: 3em;
}
.portfolio-modal .modal-content .item-details {
  margin: 30px 0;
}
.portfolio-modal .close-modal {
  position: absolute;
  width: 75px;
  height: 75px;
  background-color: transparent;
  top: 25px;
  right: 25px;
  cursor: pointer;
}
.portfolio-modal .close-modal:hover {
  opacity: 0.3;
}
.portfolio-modal .close-modal .lr {
  height: 50px;
  width: 1px;
  margin-left: 35px;
  background-color: #2C3E50;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  z-index: 1051;
}
.portfolio-modal .close-modal .lr .rl {
  height: 50px;
  width: 1px;
  background-color: #2C3E50;
  transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  /* Safari and Chrome */
  z-index: 1052;
}
.portfolio-modal .modal-backdrop {
  opacity: 0;
  display: none;
}
/*-- End portfolio --*/

/*-- Start Contact --*/
.contact {
	background:#000;
}

.agileits_agile_about_mail input[type="text"],.agileits_agile_about_mail input[type="email"],.agileits_agile_about_mail textarea{
  outline: none;
  background: #FCFCFC;
  border:1px solid #DDDDDD;
  padding: 10px;
  font-size: 14px;
  color: #999;
  width: 100%;
}
.agileits_agile_about_mail textarea{
  min-height: 157px;
}
.agileits_agile_about_mail input[type="submit"]{
  outline: none;
  background:#008B8B;
  border:none;
  padding: 10px 0;
  font-size: 14px;
  color: #fff;
  width: 10%;
  text-transform:uppercase;
  margin-left:1.1em;
}
.agileits_agile_about_mail input[type="submit"]:hover{
  background:#FFEB00;
  color:#212121;
}
.agileits_agile_about_mail input[type="email"],.agileits_agile_about_mail input[type="text"]:nth-child(1){
  margin-bottom:1em;
}
/*-- End Contact --*/

/*-- Start details --*/
#details {
  background-color: #f5f5f5;
  min-height:350px;
}
.details_grid h5 {
  font-size: 1.6em;
  text-transform: uppercase;
  color: #fff;
  letter-spacing: 2px;
  margin: 0.5em 0;
}
p.details {
  font-size: 2em;
  color:#fff;
}
.details_grid span{
  font-size:2em;
  text-transform: uppercase;
  color: #44c7f4;
}
.details_footer{
  background: #000;
  padding: 4em 0 3em 0;
}
.details_grid {
  margin: 0 auto;
  text-align: center;
}
.details_grid_leftl{
  width: 55px;
  height: 55px;
  border-radius: 50px;
  text-align: center;
  background: #f5f5f5;
  margin: 0 auto;
}
.details_grid_leftl span{
  color: #000;
  font-size: 2em;
  line-height: 2.1em;
}
.details_grid_leftr{
  margin-top: 10px;
}
.details_grid_leftr h4{
  font-size: 1.2em;
  color: darkcyan;
  letter-spacing: 3px;
  margin-bottom: .5em;
}
.details_grid_leftr p{
  color:#999;
  line-height:1.5em;
}
.details_grid_leftr a{
  color:#999;
  text-decoration:none;
  font-size:14px;
}
.details_grid_leftr a:hover{
  color:#44c7f4;
}
.details_grid:hover .details_grid_leftl{
  background:#fff;
}
.details_grid:hover .details_grid_leftl span{
  color:#212121;
}
.details_grid:hover .details_grid_leftr h4{
  color:#44c7f4;
}
.details_grid {
  float: left;
  padding: 15px;
  text-align: center;
}
.btn-social {
  display: inline-block;
  height: 50px;
  width: 50px;
  border: 2px solid #fff;
  border-radius: 100%;
  text-align: center;
  font-size: 20px;
  line-height: 45px;
}
.btn-outline {
  color: #fff;
  font-size: 20px;
  border: 2px solid #fff;
  background: 0 0;
  transition: all .3s ease-in-out;
  margin-top: 15px;
}
.btn-outline:hover {
  color: #18BC9C;
  background: #fff;
  border: 2px solid #fff;
}
.btn-outline i {
  padding-top: 8px;
  font-size: 30px;
}
.mt-m-10 {
  margin-top: -10px;
}

/*-- End Details --*/

/*-- Start Footer --*/
.footer {
  padding: 2em 0;
  text-align: center;
  background: #1F1F1F;
}
.footer p {
  color: #f5f5f5;
	font-size: 1.1em;
}
.footer p a{
  color: #F7E612;
}
.footer p a:hover{
    color: #f5f5f5;
}
/*-- End Footer --*/

/*--slider-up-arrow--*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 3%;
	right: 3%;
	overflow: hidden;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url("../assets/move-up.png") no-repeat 0px 0px;
	z-index:999;
}
#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*--//slider-up-arrow--*/

/*---- responsive-design -----*/
@media(max-width:1366px){
.about,.work,.education,.skills,.portfolio,.contact,.details {
    padding: 5em 0;
}
.work-right.work-right2 {
    min-height: 200px;
}
.work-right {
    padding: 2.5em 0 1em 6em;
}
}
@media(max-width:1080px){
.header-left {
    padding: 0;
}
ul.address {
    margin-top: 1em;
}
ul.address li ul.address-text li {
    margin-top: 0.8em;
}
.about, .work, .education, .skills, .portfolio, .contact , .details{
    padding: 4em 0;
}
h3.title {
    font-size: 3.6em;
	margin-bottom: 0.8em;
}
.about-right {
    padding-left: 1em;
}
.work-right {
    padding: 2.5em 0 0.5em 6em;
}
}
@media(max-width:1024px){
.header-right h1 {
    font-size: 2.3em;
}
}
@media(max-width:991px){
.banner-info {
    padding: 3.5em 0;
}
.header-left {
    float: left;
    width: 40%;
}
.header-right {
    padding-left: 2em;
    float: right;
    width: 60%;
    padding-right: 0;
}
.header-right h2 {
    font-size: 1em;
}
.header-right h1 {
    font-size: 2em;
}
.header-right h6 {
    font-size: 0.9em;
    margin-top: 0.6em;
    letter-spacing: 5px;
}
ul.address li ul.address-text li {
    font-size: 1.1em;
}
ul.nav.navbar li a {
    padding: 1em 1.5em;
}
h3.title {
    font-size: 3.5em;
    margin-bottom: 0.6em;
}
.about-left {
    float: left;
    width: 65%;
	padding-left: 0;
}
.about-right {
    float: right;
    width: 35%;
    padding: 0;
}
.about-right ul {
    border-width: 3px;
    padding: 1em;
}
.work-left {
    padding: 2em 4em 0 0;
    float: left;
    width: 50%;
}
.work-right {
    padding: 2em 0 0.5em 5em;
    float: right;
    width: 50%;
}
.work-right h5 span.glyphicon {
    margin-right: 5em;
    margin-left: -7.3em;
}
.work-info h5 {
    font-size: 1.2em;
    padding: 0 1em;
}
.work-left2 h5 span.glyphicon {
    margin-left: 3.4em;
    margin-right: -6.4em;
}
.work-right.work-right2 {
    min-height: 220px;
}
.bar-grids {
    padding: 0 2em;
    float: left;
    width: 50%;
}
.portfolio-grids {
    margin-top: 1em;
    width: 33.33%;
    padding: 0 .5em;
	float: left;
}
.grid .figcaption {
    padding: 1em 1.5em;
}
.grid h3 {
    font-size: 1.5em;
}
.grid p {
    letter-spacing: 1px;
}
.contact-left iframe {
    width: 100%;
    min-height: 20em;
    border: none;
}
.contact-right {
    margin-top: 2em;
}

}
@media(max-width:800px){
.about, .work, .education, .skills, .portfolio, .contact, .details{
    padding: 3em 0;
}
h3.title {
    font-size: 3.3em;
    margin-bottom: 0.6em;
}
#swipebox-title {
    font-size: 0.9em;
}
}
@media(max-width:768px){
.banner-info {
    padding: 3em 0;
}
}
@media(max-width:767px){
.navbar-toggle {
    float: none;
    width: 100%;
    text-align: center;
    margin: 0;
    font-size: 1.3em;
    color: #fff;
}
.nav > li {
    display: block;
}
ul.nav.navbar li a {
    padding: 0.8em 1.5em;
    font-size: 1.1em;
}
}
@media(max-width:640px){
.header-right h2 {
    font-size: 0.9em;
}
.header-right h2:before {
    bottom: -7px;
    left: 9px;
    border-width: 7px 7px 0 7px;
}
ul.address li ul.address-text li {
    font-size: 1em;
}
.header-right h6 {
    font-size: 0.85em;
}
ul.address {
    margin-top: 0.5em;
}
.banner-info {
    padding: 2em 0;
}
.about, .work, .education, .skills, .portfolio, .contact, .details {
    padding: 2em 0;
}
h3.title {
    font-size: 2.8em;
    margin-bottom: 0.5em;
}
.about-left {
    float: none;
    width: 100%;
    padding: 0;
}
.about-right {
    float: none;
    width: 100%;
    margin-top: 1em;
}
.work-right.work-right2 {
    min-height: 235px;
}
.bar-grids {
    padding: 0 1.5em;
}
.bar-grids h6 {
    font-size: 1em;
}
.progress {
    margin-bottom: 2em;
}
.contact-left iframe {
    min-height: 17em;
}
.contact-left {
    padding: 0;
}
.contact-right {
    margin-top: 1em;
	padding: 0;
}
.footer {
    padding: 1.5em 0;
}
}
@media(max-width:480px){
.header-left {
    float: none;
    width: 40%;
    margin: 0 auto;
}
.header-right {
    float: none;
    width: 100%;
}
h3.title {
    font-size: 2.5em;
}
p {
    font-size: 0.9em;
}
.work-info h4 {
    font-size: 1em;
}
.work-info h4:before {
    right: -10px;
    border-width: 7px 0 7px 10px;
}
.work-info h5 {
    font-size: 1em;
}
.work-left {
    padding: 1em 3em 0 0;
}
.work-right {
    padding: 1em 0 0.5em 3em;
}
.work-right h5 span.glyphicon {
    margin-right: 3em;
    margin-left: -6em;
}
.work-right.work-right2 h4:before {
    left: -10px;
}
.work-left2 h5 span.glyphicon {
    margin-left: 3em;
    margin-right: -6.2em;
}
.bar-grids {
    padding: 0 1em;
    float: none;
    width: 100%;
}
.progress {
    margin-bottom: 1.5em;
}
.portfolio-grids {
    width: 50%;
}
.grid .figcaption {
    padding: 0.5em 1em;
}
.grid p {
    letter-spacing: 0px;
    padding: .5em 0 0;
}
.footer p {
    font-size: 1em;
}
}
@media(max-width:414px){
.work-right.work-right2 {
    min-height: 260px;
}
.portfolio-grids {
    width: 100%;
    float: none;
    padding: 0;
}
.address-left {
    width: 45%;
}
.address-right {
    width: 42%;
}
}
@media(max-width:375px){
.header-right {
    padding-left: 0;
}
.work-left {
    width: 100%;
    text-align: left;
	padding: 1em 0 0 0;
}
.work-right {
    padding: 1em 0 0.5em 2em;
    width: 95%;
	border: none;
}
.work-right h5 span.glyphicon {
    margin-right: 2em;
    margin-left: -5em;
}
.work-right.work-right2 {
    min-height: inherit;
    padding: 0;
}
.address-left,.address-right{
    width: 100%;
    float: none;
}
.contact-left iframe {
    min-height: 13em;
}
.address-left:after {
    right: 0;
    width: 0px;
}
}
@media(max-width:320px){
.banner-info {
    padding: 1em 0;
}
.header-left {
    width: 50%;
}
.header-right h1 {
    font-size: 1.8em;
}
.header-right h6 {
    letter-spacing: 1px;
}
ul.address li ul.address-text li {
    font-size: 0.9em;
}
ul.address li ul.address-text li:nth-child(1) {
    width: 25%;
}
ul.nav.navbar li a {
    padding: 0.6em 1.5em;
    font-size: 1em;
}
.about, .work, .education, .skills, .portfolio, .contact, .details {
    padding: 1em 0;
}
h3.title {
    font-size: 2em;
}
.progress {
    height: 7px;
}
.bar-grids {
    padding: 0;
}
.bar-grids h6 {
    font-size: 0.9em;
}

}
/*--//responsive-design---*/
