<!DOCTYPE html>
<html>
  <head>
    <title>Narendra</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--mobile apps-->
    <!--Custom Theme files-->
    <!--//Custom Theme files-->
    <!--js-->
    <!-- <script src="https://p.w3layouts.com/demos/may-2016/10-05-2016/my_resume/web/js/jquery-1.11.1.min.js"></script>  -->
    <!-- //js -->
    <!--web-fonts-->
    <link href='https://fonts.googleapis.com/css?family=Overlock:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <!--//web-fonts-->
    <!--start-smooth-scrolling-->
    <script type="text/javascript" src="https://p.w3layouts.com/demos/may-2016/10-05-2016/my_resume/web/js/move-top.js"></script>
    <script type="text/javascript" src="https://p.w3layouts.com/demos/may-2016/10-05-2016/my_resume/web/js/easing.js"></script> 
    <script type="text/javascript">
        jQuery(document).ready(function($) {
          $(".scroll").click(function(event){   
            event.preventDefault();
            $('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
          });
        });
    </script>
    <!--//end-smooth-scrolling-->
  </head>

  <body>
    <%= yield %>
  </body>
</html>
